<h1>People</h1>

<% @people.each do |person| %>
  <h2><%= person.name %></h2>
  <%= link_to 'Show Persons Info ', person_path(person) %>

  <p><%= link_to 'Add New Person', new_person_path %></p>

  <p><%= link_to 'Change Current Person', edit_person_path(person) %></p>

  
<% end %>
